body {
  width: 520px;
  padding: 20px 15px;
}

.h1,
.row {
  padding: 10px 0;
}

/* Utility */
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.inline-icon {
  display: inline;
  height: 1em;
  width: auto;
  vertical-align: bottom;
}
